@import "tailwindcss";

/* Custom styles */

.menu-link.show {
  opacity: 1;
  transform: translateY(0);
}

.ts-option-custom {
  @apply px-4 py-2 text-sm sm:text-base text-gray-700 hover:bg-emerald-100 hover:text-emerald-700 cursor-pointer rounded-md whitespace-normal transition duration-150 ease-in-out;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.8s ease-out;
}

@layer base {
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear,
  input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none !important;
  }
}

#emailSuggestions li.highlighted {
  background-color: #d1fae5; /* emerald-100 */
}

@media (max-width: 400px) {
  #file-preview-content {
    padding: 1rem;
    max-height: 80vh;
  }
}

@media (max-width: 640px) {
  .pdf-container canvas {
    width: 100% !important;
    height: auto !important;
  }
}

